.date-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo h5 {
  margin: 1rem 0;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}

.postcode-search {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0 0;
}

.postcode-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.postcode-search label {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
}

.postcode-search input {
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0;
}

.postcode-search button {
  width: 35px;
  height: 36px;
  background-color: white;
  border: none;
  cursor: pointer;
}

h4 {
  margin: 1rem;
}

.suburbs-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 5px;
}

.suburb-list {
  width: 96%;
  border-radius: 5px;
}

.suburb-list button {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  text-align: left;
  height: 35px;
  background-color: white;
  cursor: pointer;
}

.suburb-list button:hover {
  background-color: wheat;
}

.weather-data {
  padding: 2px;
  font-size: 1rem;
}

.data-row {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.data-row .label {
  display: block; /*Unimportant */
}

.data-row .value {
  margin-right: 10px;
  font-weight: 500;
}

.source-div {
  margin-top: 40px;
}

.home-image img {
  width: 100%;
}

/* background: linear-gradient(to right, */
/*  rgb(0, 255, 0),  /* Green */
/*  rgb(255, 255, 0), /* Yellow */
/*   rgb(255, 0, 0),   /* Red */
/*   rgb(128, 0, 128)  /* Purple */
/* ); */

.source-div {
  text-align: center;
}

.source {
  font-style: italic;
  font-size: 12px;
}
