.card-div a {
  color: black;
  text-decoration: solid;
  cursor: pointer;
}

.mini-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  margin-top: 20px;
  height: 30px;
  align-items: center;
}

.mini-card > div:not(:last-child) {
  flex: 1; /* Equal length for all inner divs */
}

div.user,
div.day,
div.frequency {
  text-align: center;
}

.time,
.user,
.day {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.red {
  background-color: #ffcccb;
}

.card.yellow {
  background-color: #fdf973;
}

.card.green {
  background-color: #d1ffbd;
}

.notes {
  text-align: right;
  margin-left: 12px;
}

.notes svg {
  width: 25px;
  height: 25px;
}

.recomm {
  text-align: center;
  padding-bottom: 5px;
}
